$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$blue: #f00;
$black: #000;
$green: #f06801;

background {
  color: $green;
}

.board {
  font-size: 20px;
  height: 500px;
  margin: 0 auto;
  table-layout: fixed;
  text-align: center;
  width: 500px;
}

// .cell-one,
// .cell-three,
// .cell-six {
//   border-right: 1px solid $black;
// }

.o-score,
.x-score {
  align-content: center;
  border: 1px solid $black;
  display: inline-block;
}

td {
  background-color: $blue;
  border: 1px solid $black;
  margin: 0 auto;
}
